@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Regular.eot');
    src: url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff'),
        url('../fonts/SFProDisplay-Regular.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg'),
        url('../fonts/SFProDisplay-Regular.OTF') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*  styles for space between footers and header 
  */
html,
body {
    height: 100%;
}

.wrapper {
    @apply min-h-full flex flex-col
}

/* all container wraper */
.container-wrapper {
    @apply container max-w-[1152px] w-full mx-auto px-6 xl:px-0
}

/* btn learn more, contact */
@layer components {
    .direction-row {
        @apply flex items-center justify-between
    }

    .btn-primary {
        @apply bg-colorsText-blue hover:bg-colorsText-darkGray text-white text-headerItem py-4 px-5 mx-auto rounded-lg cursor-pointer transition-colors duration-75 focus:ring-2
    }

    /* btn see all  */
    .btn-see-all {
        @apply btn-primary px-[50px] rounded-[30px] shadow-seeAllbtn hover:shadow-colorsText-darkGray
    }

    /* underlined buttons grey */
    .btn-read-more {
        @apply text-btnText underline group-hover:text-colorsText-darkGray text-colorsText-headerMenu underline-offset-4
        /* hover ar chans dizainshi */
    }

    .nav-links {
        @apply text-headerItem text-colorsText-headerMenu hover:text-black cursor-pointer inline-block
    }

    /* rose titles of section responsive */
    .heading-base {
        @apply text-heading-md lg:text-heading-lg text-colorsText-rose
    }

    /* main paaragrafs responsive */
    .paragraph-base {
        @apply text-size-lg text-black
    }

    /* rose paginations a */
    .pagination-item {
        @apply relative rounded-full border border-solid bg-white border-colorsText-rose w-[46px] h-[46px] text-size-lg text-colorsText-rose transition-all duration-300 bg-transparent hover:bg-colorsText-rose hover:text-white active:bg-colorsText-rose active:text-white cursor-pointer
    }

    /* paginations iner text - 1 2 3  */
    .pagination-links {
        @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
    }

    /* labels+++*/
    .label {
        @apply inline-block rounded-[40px] bg-white text-size-sm font-bold text-colorsText-blue px-3 cursor-pointer shadow-labelshadow
    }


    .icon-down {
        @apply hidden lg:inline-block
    }

    .icon-up {
        @apply -rotate-90 lg:rotate-0
    }

}

/*  icentreba X  */
/* .active {
        @apply lg:pl-[7px]
    } */


/* headers styles  start */


@layer components {


    .header {
        @apply flex justify-center items-center fixed top-0 z-50 w-full h-[58px] bg-white
    }

    .nav-container-wrapper {
        @apply absolute lg:relative top-[58px] lg:top-0 left-0 w-full lg:h-fit overflow-hidden ease-in-out
    }

    .nav-container {
        @apply h-full w-full lg:overflow-hidden lg:flex lg:justify-end items-center justify-between px-6 pt-0 pb-6 lg:p-0
    }


    /* mobile search start */
    .mobile-search-form-container {
        @apply mx-auto flex items-center relative lg:hidden my-[14px]
    }

    .mobile-search-form-input {
        @apply text-white bg-colorsText-darkGray w-full h-[39px] pl-5 rounded-[40px] text-size-lg focus:outline-none
    }


    /* mobile search END */


    /* navigation menu start */
    .navigation-menu {
        @apply h-full w-full lg:overflow-hidden lg:flex lg:justify-end items-center
    }

    .navigation-menu-item {
        @apply lg:py-4 py-[10px] px-5
    }

    .navigation-menu-title {
        @apply direction-row text-size-xl text-white lg:nav-links
    }

    .navigation-title-icons {
        @apply w-full inline-block relative after:absolute after:top-0 after:right-0 lg:after:content-[''] after:content-arrowRightIcon after:rotate-90 after:inline-block after:opacity-100 after:text-bg-iconBlue after:duration-500 after:ease-linear
    }

    /* navigation menu end */

    /* dropdown menu start */

    .mobile-dropdown {
        @apply py-[10px] px-[0px] space-y-2 lg:space-y-0
    }

    .dropdown {
        @apply absolute top-[52px] hidden transition ease-linear duration-1000 hover:delay-1000 rounded-[10px] p-[7px] shadow-lg cursor-pointer z-50 group-hover:block bg-white hover:transition-all
    }

    .dropdown-menu-link {
        @apply text-size-xl lg:text-headerItem text-bg-iconBlue lg:text-colorsText-headerMenu bg-colorsText-darkGray cursor-pointer direction-row py-[10px] pl-5 px-[10px] rounded-lg after:content-arrowRightIcon after:inline-block after:opacity-100 after:text-bg-iconBlue after:float-right lg:bg-white lg:after:content-arrowrose lg:after:opacity-0 after:mr-[10px] lg:hover:text-colorsText-rose lg:hover:bg-bg-iconRose lg:hover:transition-all lg:after:ml-[16px] lg:hover:after:opacity-100
    }

    .dropdown-menu-show {
        @apply bg-black
    }

    .dropdown-menu-scroll {
        overflow-y: auto;
        height: calc(100vh - 58px);
    }

    /* dropdown menu end */

    /*  nav-buttons start */
    .contact {
        @apply hidden lg:inline-block
    }

    /* burger menu */
    .burger-menu {
        @apply h-[34px] w-[34px] bg-bg-main rounded-lg rotate-0 transition-all cursor-pointer
    }

    .burger-menu-line {
        @apply block absolute left-[9px] h-[2px] w-4 bg-black opacity-100 rotate-0 ease-in-out transition-all mx-auto
    }

    /* search popup  */

    .overlay {
        @apply h-[100vh] w-full absolute z-50 top-[0] left-0 bg-black bg-[#000000cc] flex justify-center items-center
    }

    .Overlay-wrapper {
        @apply max-w-[760px] w-[100%] m-auto px-2 lg:px-0
    }

    .search-form-wrapper {
        @apply relative flex items-stretch justify-center
    }

    .search-container {
        @apply bg-transparent w-full py-[15px] text-white text-size-lg mx-auto space-y-[15px]
    }

    .search-item {
        @apply hover:text-bg-mainDark duration-200 text-size-lg pl-[74px] rounded-lg text-white relative transition ease-in-out cursor-pointer
    }

    .search-see-all-items {
        @apply inline-block w-[111%] text-center text-white hover:text-bg-mainDark duration-200 transform-none mx-auto transition ease-in-out
    }

    .search-close-appearance {
        @apply search-cancel:appearance-none
    }

    .btn-close {
        @apply bg-transparent p-0 opacity-100 mt-[11px] transition-all hover:opacity-75 flex items-center justify-center w-[10%] self-start
    }


}


/* footer styles start*/
@layer components {
    .footer {
        @apply bg-colorsText-darkGray text-white flex flex-col justify-between relative
    }

    .footer_logo {
        @apply py-[9.5px] tablet:py-[23px]
    }

    .footer_content {
        @apply flex flex-col justify-between w-full tablet:flex-row-reverse mb-6 tablet:max-w-[1152px] tablet:mx-auto tablet:mb-[32px]
    }

    /* teqstis konteiner zoma ar weria zustad, amitom Sevamcire margin-bottom 28 - 21it */
    .footer_founders {
        @apply flex flex-col items-center tablet:max-w-[777px] tablet:w-full justify-between mb-[28px] tablet:mb-0
    }

    /* suratis simaRlea 3pxiT meti, movakle paddings */
    .footer_founders-img {
        @apply w-full mb-[30px] tablet:mb-[25px]
    }

    .footer_founders-info {
        @apply text-headerItem
    }

    .footer_founders-contact {
        @apply text-size-lg flex flex-col tablet:justify-center gap-y-[10px]
    }

    .footer-projet-team {
        @apply flex justify-start items-center py-[14px] tablet:w-[289px]
    }

    .footer_privacy {
        @apply text-size-xl tablet:flex tablet:flex-col-reverse tablet:py-[10px]
    }

    .contact-icon {
        @apply relative rounded-full border-none w-[46px] h-[46px] transition-all duration-300 cursor-pointer
    }

    .social-icon {
        @apply relative rounded-full border-none w-[50px] h-[50px] transition-all duration-300 cursor-pointer
    }

    /* paginations iner text - 1 2 3  */
    .project-team-icon-item {
        @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
    }


    /* iconebis kontaineri didi, movakle margin botoms 38is -6 */
    .footer_social-icons {
        @apply flex items-center justify-center gap-x-[20px] mb-[38px] tablet:mb-0
    }

    .footer_rights {
        @apply flex items-start
    }

    .hero-block {
        @apply transition-all bg-cover bg-center h-[252px] object-cover object-center bg-no-repeat overflow-hidden text-white text-center
    }

    .footer_privacy-policy {
        @apply hover:text-yellow
    }

    .hero-block {
        @apply relative top-0 left-0 mb-[28px] tablet:mb-[79px] transition-all bg-cover bg-center bg-no-repeat h-[252px] flex items-center justify-center
    }

    /* News section */

    .section-search-form-container {
        @apply mx-auto flex items-center relative mb-[28px] tablet:mb-[32px]
    }

    .section-search-form-input {
        @apply text-black bg-bg-main w-full h-[39px] pl-5 rounded-[40px] text-size-lg focus:outline-none
    }

    .card {
        @apply shadow-cardShadow rounded-xl relative overflow-hidden hover:shadow-hoverCardShadow ease-out duration-300 hover:translate-y-[-1px] cursor-pointer
    }

    .card-img {
        @apply rounded-xl
    }

    .card-description {
        @apply rounded-xl bg-white w-full px-4 pt-4 pb-1 space-y-3 -translate-y-[12px]
    }

    .card-title {
        @apply text-heading-sm text-black
    }




    /* event style start */
    .events-cards {
        @apply grid gap-y-[28px] tablet:gap-y-[34px] gap-x-[24px] mx-auto md:grid-cols-2 mb-[52px] transition-all
    }

    .events {
        @apply flex items-center gap-5 mb-[30px] max-w-[448px] w-full
    }



    /* event style end */




    /* project */

    .project-card-wrapper {
        @apply flex items-center justify-center flex-wrap gap-[28px] lg:gap-x-[37px] lg:gap-y-[34px] mx-auto tablet:mt-0 transition-all;
    }


    .project-card {
        @apply w-[294px] h-auto bg-white rounded-lg px-[42px] pt-[31px] pb-[23px] overflow-hidden shadow-lg flex flex-col items-center justify-between self-stretch
    }

    .card-img-holder {
        @apply w-full h-auto py-[5px] px-[9px] rounded mb-[8px]
    }

    .project-card-img {
        @apply w-full h-auto max-h-[115px] object-cover rounded
    }

    .project-card-about {
        @apply min-h-[225px] text-center border border-[#00000033] rounded-md text-size-lg text-[#0B0B0B80] p-[19px] mb-5 flex items-center justify-center
    }

    .project-btn {
        @apply py-[20px] px-5 mx-auto rounded-lg cursor-pointer transition-colors duration-75 text-heading-sm tablet:text-heading-md tablet:py-0
    }


    /* search result styles */
    .search-result-card {
        @apply shadow-cardShadow hover:shadow-hoverCardShadow p-5 mb-[28px] rounded-xl
    }

    .search-result-title {
        @apply text-colorsText-rose text-heading-sm mb-[10px]
    }

    .search-result-text {
        @apply text-[#000000] opacity-50 text-size-lg
    }


    /* search result styles */
    h1::first-letter,
    h2::first-letter,
    h3::first-letter,
    h4::first-letter,
    p::first-letter {
        text-transform: uppercase
    }

}

/* main swiper slider start */

#main-swiper {
    height: calc(100vh - 59px);
    width: 100%;
}

#main-swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 623px;
    object-fit: cover;
    object-position: center;
}

#main-swiper .overlay {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

#main-swiper .swiper-button-next::after,
#main-swiper .swiper-button-prev::after {
    color: rgba(244, 244, 244, 1);
    font-size: 24px;
    font-weight: 900;
    line-height: 46px;
}

#main-swiper .swiper-button-next,
#main-swiper .swiper-button-prev {
    height: calc(100vh - 59px);
    width: 142px;
    top: 0;
    margin-top: 0;
}

#main-swiper .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    background-color: rgba(255, 255, 255, 1);
    opacity: 30%;
}

#main-swiper .swiper-pagination-bullet-active {
    opacity: 100%;
}


/* main swiper slider  end */
/* news swiper styles */
/* #news-swiper {
 @apply overflow-visible
} */
#news-swiper .slides-card{
    @apply max-w-[270px] w-full
} 

#news-swiper .news-card-img {
    @apply w-full mb-3 overflow-hidden 
}

#news-swiper .news-card-img img {
    @apply rounded-lg min-h-[270px] object-cover object-center w-full
}

#news-swiper .news-date {
    @apply text-size-md text-colorsText-headerMenu mb-3 inline-block
}

#news-swiper .news-card-text {
    @apply text-size-lg
}

#slider-container{
    @apply relative max-w-[1152px] w-full mx-auto
}
#slider-container .slide-prev {
    @apply ml-[-33px]
}

#slider-container .slide-next {
    @apply mr-[-33px]
}

#slider-container .slide-next,
#slider-container .slide-prev {
    @apply rounded-full bg-white w-[46px] h-[46px] text-colorsText-rose hover:bg-colorsText-rose hover:text-white shadow-md z-20 top-[135px]
}

#slider-container .slide-next::after,
#slider-container .slide-prev::after {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-size-lg hover:text-white z-20
}

@media only screen and (max-width: 600px) {

    /* main swiper slider start */
    #main-swiper .swiper-button-next,
    #main-swiper .swiper-button-prev {
        bottom: 30px;
        top: var(--swiper-pagination-top, auto);
        height: 46px;
        width: 46px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.2);
    }

    #main-swiper .swiper-button-next {
        right: 20%
    }

    #main-swiper .swiper-button-prev {
        left: 20%
    }

    #main-swiper .swiper-button-next::after,
    #main-swiper .swiper-button-prev::after {
        font-size: 16px;
        text-align: center;
    }

    #main-swiper .swiper-pagination-bullets {
        bottom: 48px;
    }

    /* main swiper slider end*/

    #slider-container .slide-prev,
    #slider-container .slide-next {
        @apply hidden
    }


}