@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Regular.eot');
    src: url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff'),
        url('../fonts/SFProDisplay-Regular.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg'),
        url('../fonts/SFProDisplay-Regular.OTF') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*  styles for space between footers and header 
  */
html,
body {
    height: 100%;
}

.wrapper {
    @apply min-h-full flex flex-col
}

/* all container wraper */
.container-wrapper {
    @apply container max-w-[1151px] w-full mx-auto px-2 xl:px-0
}

/* btn learn more, contact */
@layer components {
    .btn-primary {
        @apply bg-colorsText-blue hover:bg-colorsText-darkGray text-white text-text-lg py-4 px-5 mx-auto rounded-lg cursor-pointer transition-colors duration-75 focus:ring-2
    }

    /* btn see all  */
    .btn-see-all {
        @apply btn-primary px-[50px] rounded-[30px] shadow-2xl shadow-colorsText-blue hover:shadow-colorsText-darkGray
    }

    /* underlined buttons grey */
    .more-link {
        @apply text-text-lg leading-[19px] font-bold underline text-colorsText-darkGray hover:text-colorsText-headerMenu
        /* hover ar chans dizainshi */
    }
    .nav-links {
        @apply text-text-lg leading-[19px] text-colorsText-headerMenu hover:text-black active:text-black cursor-pointer inline-block
    }

    /* rose titles of section responsive */
    .heading-base {
        @apply text-heading-md lg:text-heading-lg text-colorsText-rose
    }

    /* main paaragrafs responsive */
    .paragraph-base {
        @apply text-text-lg text-black
    }

    /* rose paginations a */
    .pagination-links {
        @apply relative rounded-full border border-solid border-colorsText-rose w-[46px] h-[46px] text-text-lg text-colorsText-rose transition-all duration-300 bg-transparent hover:bg-colorsText-rose hover:text-white active:bg-colorsText-rose active:text-white cursor-pointer
    }

    /* paginations iner text - 1 2 3  */
    .pagination-items {
        @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
    }

    /* labels გაასწორე შადოუ*/
    .label {
        @apply rounded-[40px] bg-white text-text-sm font-bold text-colorsText-blue px-2 cursor-pointer shadow-lg
    }

    /* dropdown */
    .dropdown {
        @apply absolute hidden transition-all ease-linear rounded-[10px] p-[7px] shadow-lg duration-300 cursor-pointer group-hover:block 
    }

    .dropdown-links {
        @apply nav-links flex justify-between items-center p-[10px] hover:text-colorsText-rose hover:bg-bg-iconRose rounded-lg after:content-['>'] after:float-right after:opacity-0 after:ml-[16px] hover:after:opacity-100
    }

    /* burger menu */
    .burger-menu-line {
        @apply block w-4 border-[2px] border-solid border-black group-[.active]:ease-linear
    }


    /*  icentreba X  */
    .active {
        @apply pl-[7px]
    }
   
    .title {
        @apply flex justify-between text-text-xl text-white
    }
    
    
    .icon-up{
        @apply rotate-180
    }

    .mobile-dropdown-link{
        @apply text-text-xl text-white bg-colorsText-darkGray after:content-['>'] after:opacity-100 after:text-colorsText-blue  flex justify-between items-center p-[10px] after:float-right rounded-lg
    }

}

.acordion-wrap {
    @apply lg:hidden flex flex-col max-w-screen-lg w-full min-h-24 
}
 
.mobile-navigation-wrapper{
    @apply  max-w-screen-lg w-full absolute left-0 top-[58px] overflow-hidden 
}
.contact {
    @apply  group-[mobile-navigation-wrapper]:absolute group-[mobile-navigation-wrapper]:-bottom-2 group-[mobile-navigation-wrapper]:left-0 
}


